---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,600&display=swap" rel="stylesheet" />
		<style>
		  * {
		  font-family: 'Source Sans Pro';
		  }
		</style>
		
		<header class="mb-2 shadow">
		  <div class="relative flex max-w-screen-xl flex-col overflow-hidden px-4 py-4 sm:mx-auto sm:flex-row">
			<input type="checkbox" class="peer hidden" id="navbar-open" />
			<label class="absolute right-4 top-5 cursor-pointer sm:hidden" for="navbar-open">
			  <span class="sr-only">Toggle menu</span>
			  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
				<path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
			  </svg>
			</label>
			<nav aria-labelledby="header-navigation" class="peer-checked:mt-8 peer-checked:max-h-32 flex max-h-0 w-full flex-col items-center justify-between overflow-hidden transition-all sm:ml-24 sm:max-h-full sm:flex-row sm:items-start">
			  <h2 class="sr-only" id="header-navigation">Header navigation</h2>
			  <ul class="flex flex-col items-center sm:flex-row">
			  </ul>
			  <ul class="flex flex-col items-center sm:flex-row">
				<li class="font-bold sm:mr-12">Blog</li>
				<li class="text-gray-800 sm:mr-12">About Me / CV</li>
			  </ul>
			</nav>
		  </div>
		</header>		

		<h1>Astro</h1>
	</body>
</html>
